.footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
}
#footer-form{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.footer-logo{
    width: 100px;
    border-radius: 50%;
}
.map-container{
    display: flex;
    gap: 15px;
    margin: 0 20px;
}
.map-container iframe{
    height: 100px;
    width: 100px;

}
.div-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
textarea{
    height: 150px;
    border-radius: 15px;
}